<!--
	-- A form to save all food items and recipes into DB
	-- Designed for convenience..
-->

<p>Enter Recipes</p>
<form id="form2" name="form2" method="post" action="insertRecipe.php" onsubmit="return formSubmit(this)";>

	<label for="RecipeName">Recipe Name</label>
	<input type="text" name="recipeName" id="recipeName" />
	<br class="clear" /> 
	
	<label for="RecipeType">Recipe Type</label>
	<input type="text" name="recipeType" id="recipeType" />
	<br class="clear" /> 
	
	<label for="Description">Description</label>
	<input type="text" name="description" id="description" />
	<br class="clear" /> 
	
	<label for="RecipePoint">Recipe Points</label>
	<input type="text" name="recipePoint" id="recipePoint" />
	<br class="clear" />
	<!--
	<label for="RecipeItem1">Recipe Item 1</label>
	<input type="text" name="recipeItem1" id="recipeItem1" />
	<br class="clear" />
	
	<label for="RecipeItem2">Recipe Item 2</label>
	<input type="text" name="recipeItem2" id="recipeItem2" />
	<br class="clear" />
	
	-->
	<input type="submit" name="SubmitRecipe" id="SubmitRecipe" value="Submit" />

</form>

<p>Enter FoodItems</p>
<form id="form1" name="form1" method="post" action="insertItems.php" onsubmit="return formSubmit(this)";>

	<label for="ItemName">Item Name</label>
	<input type="text" name="itemName" id="itemName" />
	<br class="clear" /> 
	
	<label for="ItemPoint">Item Point</label>
	<input type="text" name="itemPoint" id="itemPoint" />
	<br class="clear" /> 
	
	<input type="submit" name="Submit" id="Submit" value="Submit" />
</form>

